@import "constants";

body{
    background-color: $color_peachpuff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0px;
   
    p{
        color:$color_black;

        &#loser_msg{
            display: none;
        }
        &#winner_msg{
            display: none;
        }
        &#empty_input{
            display: none;
        }
    }
    img{
        &#hang_img{
            width: 30vw;
            height: 55vh;
            margin-top: 1rem;
            @media only screen and (max-width : 768px) {
                width: 80vw;
                height: auto;
            }

        }
    }
    input[type="text"]{
        width:180px;
        padding:3px 10px;
        border:1px solid $color_brown;
        border-radius:3px;
        background-color:$color_peachpuff;
        margin:8px 0;
        display:inline-block;
    }
    button{
       
            padding: .375rem .75rem;
            border-radius: .25rem;
            background-color:$color_brown;
            color: $color_white;
            transition: background-color .15s ease-in-out;    
            border: 1px solid  $color_brown;  

           &:hover,:focus {
            background-color:$color_peachpuff;
            cursor: pointer;
            color:$color_black;
            font-weight: bold;
          }
          
          &:active {
            background-color:$color_peachpuff;
          } 
          &#get_word{
            width: 15vw;
            padding: 1rem;
            @media only screen and (max-width: 768px) {
                width: 50vw!important;   
                             
          }
          }          
        
    }
    div{
                
        &.header-styles{
            width: 100vw;
            height: 60vh;
            background-image: url('../images/banner.png');;
            background-size: cover;
            background-repeat: no-repeat;
            background-position-y: -650px;          
            overflow: hidden;   
           
            h1{
                color:$color_white;
                font-size: 100px;                
                @media only screen and (max-width: 768px) {
                   font-size: 80px;
              }
            }         
          
            @media only screen and (max-width: 768px) {
                  background-position-y: 0px !important;
            }

          }
          &.button-get{
              margin-top: 5rem;
          }
          &.block-game{
              display: flex;
              flex-direction: row!important;
              @media only screen and (max-width: 768px) {
                flex-direction: column!important;
          }
          }
          &.h-input-button-group{
              margin-top: 5rem;
              p{
                font-size: 30px;
                color:$color_deep_brown;
                font-weight: bold;
                &#loser_msg{
                    color:$color_red;
                }
                &#winner_msg{
                    color:$color_green;
                }
                &#empty_input{
                    color:$color_red;
                    font-size: 15px;
                }
              }
              
          }
          h3{
            font-size: 25px;
            font-weight: bold;
            color:$color_deep_brown;
          }
      
    }
    footer{
        width: 100vw;
        height: 20vh;
        background-color: $color_brown;
        
        p{
            color: $color_white;
            font-size: 25px;
            
        }
        
    }
}
